@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  font-family: "poppins", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.App {
  display: flex;
}
.main-container {
  background-color: #eeeeee;
  width: 100vw;
  min-height: 100vh;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: darkgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(249, 184, 54);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: darkgray;
}

/* Generic styles */
.add-button {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  background-color: #eeeeee;
  border: 1px solid grey;
  margin-top: 0.6rem;
  border-radius: 5px;
  font-weight: 300;
}
.add-button:hover {
  border: 1px solid rgb(89, 183, 94);
  color: rgb(89, 183, 94);
  cursor: pointer;
}
textarea {
  resize: none;
}
