.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 15rem;
  background-color: #2a2e30;
  padding: 2.5rem;
  font-size: 0.9rem;
  min-width: 213px;
  height: 100vh;

  &__logo {
    width: 6rem;
    height: 6rem;
    border-radius: 3px;
    margin-bottom: 1.2rem;
    background-color: grey;
    object-fit: cover;
  }

  &__link {
    color: white;
    text-decoration: none;
    margin-bottom: 1.2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;

    &:hover {
      text-decoration: 2px underline #4f8ff0;
    }
  }
  &__main-links {
    display: flex;
    flex-direction: column;
  }
  &__logout {
    display: inline-block;
    width: 4rem;
    margin-bottom: 1rem;
  }
}
