.recruitment {
  margin: 3rem;
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__line-divide {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin-bottom: 1rem;
  }
}
