.roster {
  position: relative;
  margin: 3rem;
  min-width: 800px;
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    &-container {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
    &-edit {
      color: grey;
      font-weight: 300;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
  &__line-divide {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin-bottom: 1rem;
  }
  &__table {
    border-style: hidden;
    border-collapse: collapse;
    font-size: 1rem;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 10px;
  }
  &__table-thead-tr {
    background-color: #4f8ff075;
  }
  &__table-tr {
    &:nth-child(even) {
      background-color: #f6f6f6;
    }
    &:last-of-type {
      border-radius: 5px;
    }
  }
  &__table-tr-th {
    color: white;
    font-weight: 300;
    padding: 0.5rem;
    &:first-child {
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
  &__table-tr-td {
    padding: 0.5rem;
    font-weight: 300;
  }
  &__delete {
    font-size: 0.9rem;
    margin-left: 0.2rem;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.464);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.173);
    border-radius: 5px;
    &:hover {
      border: 1px solid rgb(227, 73, 73);
      color: rgb(227, 73, 73);
      cursor: pointer;
    }

    &-td {
      display: flex;
      justify-content: end;
      margin-top: 0.09rem;
    }
  }
  &__edit {
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  &__input {
    margin-top: 1rem;
    border: none;
    padding: 0.3rem 1rem;
    margin-right: 0.5rem;
    font-size: 0.9rem;

    &-submit {
      font-size: 0.9rem;
      padding: 0.27rem 1rem;
      font-weight: 300;
      background-color: rgb(255, 255, 255);
      border: 1px solid white;
      border-radius: 5px;
      &:hover {
        border: 1px solid rgb(89, 183, 94);
        color: rgb(89, 183, 94);
        cursor: pointer;
      }
    }

    &-tr {
      width: 100%;
    }
  }
}
.edit-delete {
  display: flex;
  justify-content: end;
}
