.schedule {
  margin: 3rem;
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-add {
      font-size: 1rem;
      padding: 0.3rem 1rem;
      background-color: #eeeeee;
      border: 1px solid grey;
      margin-top: 0.6rem;
      border-radius: 2px;
      font-weight: 300;
      &:hover {
        border: 1px solid rgb(89, 183, 94);
        color: rgb(89, 183, 94);
        cursor: pointer;
      }
    }
    &-link {
      text-decoration: none;
      color: black;
    }
  }
  &__line-divide {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
    margin-bottom: 1rem;
  }
  &__add-button {
    margin: 1rem 0;
    padding: 0.3rem 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    &:hover {
      border: 1px solid rgb(89, 183, 94);
      color: rgb(89, 183, 94);
      cursor: pointer;
    }
  }
}
